.body {
    width: 100%;
    height: max-content;
    font-family: Arial;
    
};

.header {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-content: center;

   
};

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
};

.navigation > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
};
