body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid black;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.blogName {
    align-self: flex-end;
    
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postsSection1 {
    width: 65%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideSection {
    width:35%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-bottom: 2px solid black;
}

.newsLetter {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.postsHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}